<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
 
 <link rel="stylesheet" href= " {% static 'CSS/styl.css' %}">
 


</head>

<body>
    <h1>fees fuck ,start learning  {{cname}} and the charges is  {{charge}} only </h1>
    <img src="{% static 'images/nature.jpg' %}" alt="Django">
<script src="{% static 'js/js1.js' %}"></script>

<hr>
<form action="">
<input type="button" value ="click baby" onclick="disp()"/>
</form>




</body>
</html>
