{% extends 'blog/base.html' %}
{% load static %}

 {% block content %}
  
  <div class="col-sm-12" >
    
   <h3 class="my-5"> About Dev Shyati Nag </h3>
    

    

 <img src={%  static "blog/images/dev2.jpeg" %} height=900px class="img-fluid">
 
   <p> </p>
   <img src={%  static "blog/images/dev1.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev3.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev4.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev5.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev6.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev7.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev8.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev9.jpeg" %} heigt=400px width=400px class="img-fluid" >
   <img src={%  static "blog/images/dev10.jpeg" %} heigt=400px width=400px class="img-fluid" >

  </div>

 {% endblock content %}


 


